PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
DATABASE_URL="postgresql://username:password@localhost:5432/sowntra?schema=public"
FIREBASE_PROJECT_ID=sowntra
FIREBASE_STORAGE_BUCKET=sowntra.firebasestorage.app
ENABLE_WEBSOCKET=false

